* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 100vw;
  height: 100vh;
}

div.form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 50vw;
  height: 20vh;
  padding: 1%;
  font-size: 1.2rem;
  resize: none;
  border: 1.5px solid black;
  border-radius: 10px;
  outline: none;
}

label.form-title,
p.result {
  font-size: 1.2rem;
}

button#counter-init{
  width: 25%;
  height: 5%;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background-color: brown;
  color: whitesmoke;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

button#counter-init:hover{
  transform: scale(1.1);
}

button#counter-init:active{
  transform: scale(1);
}