@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Noto Sans', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0e0e0e;
}

div#calculadora{
  background-color: #bbbbbb88;
  width: 350px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

div#display{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

div#display input{
  width: 100%;
  height: 10vh;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: #00000000;
  font-size: 3.5rem;
  color: black;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
  text-align: end;
}

div#teclado{
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button{
  border-radius: 10px;
  border: none;
  font-size: 3.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s;
  background-color: #00000000;
}

button:hover{
  background-color: #dfdede7a;
}

button:active{
  background-color: #9e9e9e7a;
}

button.operador{
  color: #FF8800;
}